export OIDC_PASS_PHRASE="passwordToEncryptTheSessionInformationOnTheCookie"
export OIDC_METADATA_URL="https://ORG_NAME.auth0.com/.well-known/openid-configuration"
export OIDC_CLIENT_ID="APPLICATION_CLIENT_ID"
export OIDC_CLIENT_SECRET="APPLICATION_SECRET"
export OIDC_SCOPE="openid name email"
export OIDC_REDIRECT_URL="https://127.0.0.1/secret/callback"
export OIDC_RESPONSE_TYPE="code"
export OIDC_PASS_CLAILS_AS="environment"
export OIDC_CLAIM_PREFIX="USERINFO_"
export OIDC_PASS_ID_TOKEN_AS="payload"
